@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

.header-main{
    background-color: aliceblue;
    max-width: 88rem;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.section-con{
  padding-left: 15px;
  padding-right: 15px;
}

.error{
  display: none;
}

.header-main.darkmode{
   background-color: #0c0c0c;
}

.component-container{
    max-width: 88rem;
    width: 100%;
   margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
}
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-icon {
    font-size: 24px;
  }
  
   .logo h1{
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2.3rem;
    color: teal;
  }
  
  .icon{
    font-family: 'tangerine', cursive;
    font-weight: bold;
    font-size: 31px;
    color: teal;
  }

  .hire li{
  list-style: none;
  }
  
  .hire a{
    background: purple;
    border: none;
    color: #fff;
    padding: 9px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-style: oblique;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @keyframes oscillate {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
  .forward {
    display: inline-block;
    animation: oscillate 1.5s infinite;
    font-size: 15px;
  }
  
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 23px;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 5, 5);
    font-family: 'Arial, sans-serif';
  }

  nav ul li a.darkmode {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: snow;
    font-family: 'Arial, sans-serif';
  }

  
  nav ul li a:hover {
text-decoration: underline;  }

  /*/Home section/*/

  .oladax-pic {
    position: relative;
    animation: moveAvatar 7s infinite linear; 
  }

  .oladax-pic img{
    height: 435px;
    margin-top: 7vh;
    object-fit: cover;
    object-position: center;  }

  @keyframes moveAvata{
    0% {
      transform: translateX(-5);
    }
    50% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(-5);
    }
  }
  
  .empty {
    background-color: #0056ff1f;
    width: 290px;
    border-style: groove;
    height: 199px;
    border-bottom-right-radius: 158px;
    border-top-left-radius: 130px;
    border: none;
    position: absolute;
    bottom: -10px;
    left: 24px;
  }
  
  .social-media-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width of the container */
    height: 150px; /* Adjust the height of the container */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .social-media-icons a {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    color:#0c0c0c;
    font-size: 21px;
    object-fit: cover;
  }

  .social-media-icons a.darkmode{
    color:#ffffffdb;
  }
  
  .social-media-icons a:nth-child(1) {
    transform-origin: bottom;
    transform: rotate(-90deg);
  }
  
  .social-media-icons a:nth-child(2) {
    transform-origin: bottom;
    transform: rotate(-60deg);
  }
  
  .social-media-icons a:nth-child(3) {
    transform-origin: bottom;
    transform: rotate(-30deg);
  }
  
  .social-media-icons a:nth-child(5) {
    transform-origin: bottom;
    transform: rotate(30deg);
  }
  
  .social-media-icons a:nth-child(6) {
    transform-origin: bottom;
    transform: rotate(60deg);
  }
  
  .social-media-icons a:nth-child(7) {
    transform-origin: bottom;
    transform: rotate(90deg);
  }
  
  /*/ section styling /*/
  section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .intro-con{
    display: flex;
    justify-content: center;;
    flex-direction: column;
    }

  .intro-con p{
    color: #000000db;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .intro-con p.darkmode{
    color: #ffffffdb;
  }


  .h1{
 white-space: pre;
 font-size: 33px;
font-family: 'fangsong', 'math';
font-weight: bolder;
margin: 10px -10px;
padding: 10px;
line-height: 1.2;
color: #333;

  }

  .h1.darkmode{
    color: rgb(204, 204, 204);

  }



  .cv-con{
    display: flex;
    margin-top: 20px;
  }

  .cv-con button{
    background: purple;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    width: 130px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .cv-con .play{
    color: #000000db;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: none;
    cursor: pointer;
  }

  .cv-con .play span{
    border: solid;
    border-width: 1px;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 11px;
    margin-right: 4px;
    animation: blink 3s infinite linear; 
    color: purple;
    text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .cv-con .play.darkmode{
    color: #ffffffdb;
  }

  @keyframes blink{
    0% {
      box-shadow: none;

    }
    50% {
    box-shadow: 0 0 0px purple, 0 0 7px gray;
      
    }
    100% {
      box-shadow: none;
    }
  }

  /*/decoration mode /*/

  .sprinkle-container{
    position: relative;
    text-align: center;
  }

  .entity {
    /* Shared styles for all entities */
    border-radius: 50%;
    color: teal;
    object-fit: cover;
    font-size: 24px;
    text-align: center;
    font-size: 20px;
    opacity: 0.2;
  }
  
  .entity1 {
    /* Styles for the first entity */
    position: absolute;
    top: 100px;
    color: gray;
    transform: rotateY(0deg);
  }
  
  .entity2 {
    /* Styles for the second entity */
    position: absolute;
    left: 20px;
    color: gray;
  }

  .entity3{
    /* Styles for the second entity */
    position: absolute;
    top: -100px;
    color: gray;
    transform: rotateY(0deg);
  }

  .entity4{
    /* Styles for the second entity */
    position: absolute;
    color: gray;
    left: 20px;
    top: -38px;
  }

  .entity5{
    /* Styles for the second entity */
    position: absolute;
    color: gray;
    top: -468px;
    right: -75px;
  }

  .entity6{
    /* Styles for the second entity */
    position: absolute;
    color: gray;
    right: -120px;
    top: -40px;
   
  }
  /* styles for dark mode*/

  .toggle{
    float: left;
    margin-top: -30px;  
     }

    .toggle button{
      width: 32px;
      height: 27px;
      background: purple;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      top: -11px;
      left: 7px;
    }
  
    /*dropdown btn styling*/

    .dropdown{
      display: none;
    }

    .dropdown button{
      width: 32px;
      height: 27px;
      background: purple;
      color: white;
      border: none;
      border-radius: 5px;   
      cursor: pointer;
    }

  
  