@media screen and (max-width: 1011px) {
   .hire{
    display: none;
   }
}

@media screen and (max-width: 1004px) {
    nav{
     display: none;
    }

    .dropdown{
        display: inline-block;
    }
    .hire{
        display: inline-block;
       }


 }

 @media screen and (max-width: 1000px) {
    nav{
     display: none;
    }

    .dropdown{
        display: inline-block;
    }

    .hire{
        display: none;
       }


       header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 80px;
       }

    .social-media-icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px; /* Adjust the width of the container */
        height: 150px; /* Adjust the height of the container */
        display: flex;
        justify-content: end;
        align-items: flex-end;
      }

     
 }

 @media screen and  (max-width: 825px){
    .h1{
        font-size: 26px;
      }
 }

 @media screen and (max-width: 700px){
    
    section{
        display:flex;
        flex-direction: column;
        margin-top: 38px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        padding-left: 8px;
        padding-right: 8px;
    
      }

      .h1{
        font-size: 23px;
      }
      
 }



 @media screen and (max-width: 350px){
    .social-media-icons a{
        width: 53px;
        height: 20px;
        border-radius: 50%;
        color: #0c0c0c;
        font-size: 21px;
        object-fit: cover;
    }

    section{
        display:flex;
        flex-direction: column;
    }
 }